@using MyProject.WebUI.Models.UserModel
@model IList<CustomerListViewModel>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
   
     int counter = 0;
}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>Kullanıcı Tablosu</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ad-Soyad</th>
                            <th scope="col">Kullanıcı Adı</th>
                            <th scope="col">Mail</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            counter++;
                            <tr>
                                <td> @counter </td>
                                <td>@item.NameSurname</td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                            </tr>
						} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

