html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.minus-btn,
.plus-btn {
    width: 28px !important;
    height: 28px !important;
    padding: 0 !important;
    font-size: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-input {
    height: 28px !important;
    font-size: 12px;
    padding: 0;
}
