@model OrderViewModel

@{
    ViewData["Title"] = "Alışveriş Sepeti";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 ftco-animate">
                <form asp-action="SubmitOrder" asp-controller="Order" method="post" class="billing-form">
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="NameSurname">First Name</label>
                                <input asp-for="NameSurname" class="form-control" />
                                <span asp-validation-for="NameSurname" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="ShippingCountry">State / Country</label>
                                <select asp-for="ShippingCountry" class="form-control">
                                    <option value="">Select Country</option>
                                    <option>France</option>
                                    <option>Italy</option>
                                    <option>Turkey</option>
                                    <option>South Korea</option>
                                    <option>Hongkong</option>
                                    <option>Japan</option>
                                </select>
                                <span asp-validation-for="ShippingCountry" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="ShippingAddress">Alışveriş Adresi</label>
                                <input asp-for="ShippingAddress" class="form-control" />
                                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                            </div>
                        </div>

                     </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ShippingCity">Şehir</label>
                                <input asp-for="ShippingCity" class="form-control" />
                                <span asp-validation-for="ShippingCity" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ShippingPostalCode">Posta Kodu</label>
                                <input asp-for="ShippingPostalCode" class="form-control" />
                                <span asp-validation-for="ShippingPostalCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="w-100"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Phone">Telefon</label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Email">Mail Adresi</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                    <div class="row mt-5 pt-3">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary py-3 px-4">Ödemeye Geç</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@4.0.0/dist/jquery.validate.unobtrusive.min.js"></script>
}
